In [25]:
from bs4 import BeautifulSoup
import pandas as pd
import requests
import boto3
import pyspark
import numpy as np
import matplotlib as mpl
from pyspark.sql import Row
from pyspark.sql import SQLContext
from pyspark.sql.functions import *
import pyspark.sql.functions as F
from pyspark.sql.types import *
from pyspark.sql import SparkSession

In [129]:
params = {
    "region": "us-west-2",
    #cambia segun sea necesario
    "database": "banner_parquet",  
    "bucket": "utel-data-lake",
    #'path': 'temp/athena/output',  #path de salida de archivo  
    "key":"AKIAW6J4HKOXMKJHQY45",
    "secretkey":"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"}

In [130]:
s3 = boto3.client(
        's3', 
        region_name = params['region'],
        aws_access_key_id = params['key'],
        aws_secret_access_key = params['secretkey']
    )

In [131]:
real_estate = pd.DataFrame(columns=['Localizacion','Estado' ,'Precio', 'Cuartos', 'Baños', 'Cocheras', 
                                    'Area_total'])

In [132]:
Estados = ['estado-de-mexico','veracruz','chihuahua', 'coahuila', 'baja-california',
           'sonora', 'jalisco', 'guanajuato','distrito-federal', 'nuevo-leon']

In [133]:
def get_item_by_class(result_reg,localizador, clase):
    lista = list()
    for i in result_reg:
        try:
            item = i.find(localizador, {'class': clase}).get_text()
            lista.append(item)
        except:
            lista.append('Null')
    return lista

In [134]:
for j in Estados:
    print('Estamos en la iteracion: ', str(j))
    for i in range(51):
        website = requests.get('https://www.vivanuncios.com.mx/s-venta-inmuebles/'+j+'/page-'+str(i)+'/v1c1097l1014p'+str(i))
        soup = BeautifulSoup(website.content, 'html.parser')

        result_reg = soup.find_all('div', {'class':'tileV2 REAdTileV2 regular listView'})

        Localizacion = get_item_by_class(result_reg,'div', 'tile-location one-liner')
        
        Estado = [j for i in result_reg]
                    
        Cocheras = get_item_by_class(result_reg,'div', 'chiplets-inline-block car-parking')
                    
        Cuartos = get_item_by_class(result_reg,'div', 'chiplets-inline-block re-bedroom')
                    
        Baños = get_item_by_class(result_reg,'div', 'chiplets-inline-block re-bathroom')
                    
        Area_total = get_item_by_class(result_reg,'div', 'chiplets-inline-block surface-area')
                    
        Precio = get_item_by_class(result_reg,'span', 'ad-price')
        Precio = [i.strip() for i in Precio]


        for k in range(len(Localizacion)):
            real_estate = real_estate.append({'Localizacion' : Localizacion[k],  'Estado' : Estado[k], 
                                              'Precio': Precio[k], 'Cuartos': Cuartos[k], 'Baños' : Baños[k], 
                                              'Cocheras': Cocheras[k], 'Area_total': Area_total[k]},
                                            ignore_index=True)

Estamos en la iteracion:  estado-de-mexico
Estamos en la iteracion:  veracruz
Estamos en la iteracion:  chihuahua
Estamos en la iteracion:  coahuila
Estamos en la iteracion:  baja-california
Estamos en la iteracion:  sonora
Estamos en la iteracion:  jalisco
Estamos en la iteracion:  guanajuato
Estamos en la iteracion:  distrito-federal
Estamos en la iteracion:  nuevo-leon

In [135]:
real_estate.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11419 entries, 0 to 11418
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Localizacion  11419 non-null  object
 1   Estado        11419 non-null  object
 2   Precio        11419 non-null  object
 3   Cuartos       11419 non-null  object
 4   Baños         11419 non-null  object
 5   Cocheras      11419 non-null  object
 6   Area_total    11419 non-null  object
dtypes: object(7)
memory usage: 624.6+ KB

In [136]:
real_estate.head(10)

,Localizacion,Estado,Precio,Cuartos,Baños,Cocheras,Area_total
0,Campestre del Lago,estado-de-mexico,"$5,500,000",3,3,4+,300 m²
1,Méx.,estado-de-mexico,"$1,450,000",3,1,1,90 m²
2,Delegación San Mateo Otzacatipan,estado-de-mexico,"$1,290,000",3,1,Null,96 m²
3,San Bartolo,estado-de-mexico,"$650,000",2,1,1,60 m²
4,Hacienda Ojo de Agua,estado-de-mexico,"$5,500,000",4,4+,3,610 m²
5,Zumpango,estado-de-mexico,"$495,000",2,1,1,Null
6,Fracc. Paseos del Lago,estado-de-mexico,"$650,000",2,1,1,60 m²
7,Las Fuentes Ecatepec,estado-de-mexico,"$2,300,000",2,2,2,149 m²
8,Carlos Hank Gonzalez,estado-de-mexico,"$2,950,000",5,2,2,210 m²
9,Covadonga,estado-de-mexico,"$1,200,000",3,3,2,Null

In [137]:
real_estate.to_csv('real_state.csv', index= False)

In [145]:
s3.upload_file('real_state.csv', 'utel-bi-data-lake', 'ViciDial/real_state/real_state.csv')

In [52]:
sc = pyspark.SparkContext()

ValueError: Cannot run multiple SparkContexts at once; existing SparkContext(app=pyspark-shell, master=local[*]) created by __init__ at C:\Users\USER\AppData\Local\Temp/ipykernel_12240/1299085425.py:1

In [53]:
sqlContext = SQLContext(sc)

In [18]:
from geopy.geocoders import Nominatim

geolocator = Nominatim(user_agent="MyApp")

def coordenates(direct, coord):
    from geopy.geocoders import Nominatim
    geolocator = Nominatim(user_agent="MyApp")
    try:
        location = geolocator.geocode(direct)
        latitud = location.latitude
        longitud = location.longitude
    except:
        latitud = None
        longitud = None
        
    if coord == 'longitud':
        return longitud
    
    if coord == 'latitud':
        return latitud


longitud = coordenates("Lomas Country Club,estado de mexico", 'longitud')
latitud = coordenates("Lomas Country Club,estado de mexico", 'latitud')
print(longitud, latitud)

-99.28912791917948 19.40654045

In [13]:
df = sqlContext.read.csv('real_state.csv', header=True, inferSchema=True)
df.show()

+--------------------+----------------+-----------+-------+-----+--------+----------+
|        Localizacion|          Estado|     Precio|Cuartos|Baños|Cocheras|Area_total|
+--------------------+----------------+-----------+-------+-----+--------+----------+
|  Campestre del Lago|estado-de-mexico| $5,500,000|      3|    3|      4+|    300 m²|
|                Méx.|estado-de-mexico| $1,450,000|      3|    1|       1|     90 m²|
|Delegación San Ma...|estado-de-mexico| $1,290,000|      3|    1|    Null|     96 m²|
|         San Bartolo|estado-de-mexico|   $650,000|      2|    1|       1|     60 m²|
|Hacienda Ojo de Agua|estado-de-mexico| $5,500,000|      4|   4+|       3|    610 m²|
|            Zumpango|estado-de-mexico|   $495,000|      2|    1|       1|      Null|
|Fracc. Paseos del...|estado-de-mexico|   $650,000|      2|    1|       1|     60 m²|
|Las Fuentes Ecatepec|estado-de-mexico| $2,300,000|      2|    2|       2|    149 m²|
|Carlos Hank Gonzalez|estado-de-mexico| $2,950,000|      5|    2|       2|    210 m²|
|           Covadonga|estado-de-mexico| $1,200,000|      3|    3|       2|      Null|
|     Lazaro Cardenas|estado-de-mexico| $1,693,000|      3|    3|       2|    119 m²|
|    San Andres Atoto|estado-de-mexico| $2,499,999|      3|    1|       1|    110 m²|
|Condado de Sayavedra|estado-de-mexico|$15,200,000|      4|   4+|      4+|    692 m²|
|        Lomas Verdes|estado-de-mexico|$13,200,000|      4|   4+|      4+|    297 m²|
|        Lomas Verdes|estado-de-mexico|$10,500,000|      3|    3|       2|    200 m²|
|    Bosque Esmeralda|estado-de-mexico| $7,850,000|      3|    3|       2|    160 m²|
|    Bosque Esmeralda|estado-de-mexico| $8,000,000|      3|    3|       2|    130 m²|
|        Lomas Verdes|estado-de-mexico|$11,550,000|      4|   4+|       3|    230 m²|
|        Lomas Verdes|estado-de-mexico| $5,690,000|      4|    3|       2|    178 m²|
|        Lomas Verdes|estado-de-mexico|$10,300,000|      3|    3|       2|    200 m²|
+--------------------+----------------+-----------+-------+-----+--------+----------+
only showing top 20 rows

In [14]:
distinctDF = df.distinct()
print("Distinct count: "+str(distinctDF.count()))
distinctDF.show(truncate=False)

Distinct count: 9930
+--------------------+----------------+-----------+-------+-----+--------+----------+
|Localizacion        |Estado          |Precio     |Cuartos|Baños|Cocheras|Area_total|
+--------------------+----------------+-----------+-------+-----+--------+----------+
|Lomas Country Club  |estado-de-mexico|$21,575,842|3      |3    |Null    |501 m²    |
|Llano Grande        |estado-de-mexico|$11,800,000|3      |4+   |4+      |447 m²    |
|Lomas de Tecamac    |estado-de-mexico|$900,100   |3      |2    |1       |60 m²     |
|La Riviera I y II   |estado-de-mexico|$2,200,000 |3      |2    |2       |160 m²    |
|Méx.                |veracruz        |$865,900   |2      |1    |1       |Null      |
|Ahuizotla           |veracruz        |$1,895,600 |2      |1    |1       |66 m²     |
|Bosque Real         |veracruz        |$5,691,840 |3      |3    |Null    |154 m²    |
|Tecamachalco        |veracruz        |$15,269,310|3      |4+   |Null    |Null      |
|Bosque Real         |veracruz        |$17,000,000|3      |3    |Null    |Null      |
|Lomas Lindas        |veracruz        |$1,550,000 |2      |2    |1       |Null      |
|Méx.                |veracruz        |$2,990,000 |3      |2    |Null    |150 m²    |
|Vista del Valle     |veracruz        |$8,750,000 |4      |4+   |3       |590 m²    |
|Llano Grande        |chihuahua       |$6,500,000 |3      |3    |2       |Null      |
|Toluca              |chihuahua       |$7,000,000 |4      |4+   |4+      |600 m²    |
|Los Reyes           |coahuila        |$6,587,000 |6+     |3    |3       |310 m²    |
|Bosque de las Palmas|coahuila        |$13,800,000|4      |4+   |3       |340 m²    |
|La Loma             |coahuila        |$839,700   |2      |1    |1       |60 m²     |
|Los Heroes Tecamac  |coahuila        |$618,915   |2      |1    |1       |57 m²     |
|San Carlos          |coahuila        |$10,900,000|3      |3    |2       |354 m²    |
|Tlaltepan           |coahuila        |$1,432,200 |3      |4+   |2       |95 m²     |
+--------------------+----------------+-----------+-------+-----+--------+----------+
only showing top 20 rows

In [15]:
df = df.dropDuplicates()
print("Distinct count: "+str(df.count()))
df.show(truncate=False)

Distinct count: 9930
+--------------------+----------------+-----------+-------+-----+--------+----------+
|Localizacion        |Estado          |Precio     |Cuartos|Baños|Cocheras|Area_total|
+--------------------+----------------+-----------+-------+-----+--------+----------+
|Lomas Country Club  |estado-de-mexico|$21,575,842|3      |3    |Null    |501 m²    |
|Llano Grande        |estado-de-mexico|$11,800,000|3      |4+   |4+      |447 m²    |
|Lomas de Tecamac    |estado-de-mexico|$900,100   |3      |2    |1       |60 m²     |
|La Riviera I y II   |estado-de-mexico|$2,200,000 |3      |2    |2       |160 m²    |
|Méx.                |veracruz        |$865,900   |2      |1    |1       |Null      |
|Ahuizotla           |veracruz        |$1,895,600 |2      |1    |1       |66 m²     |
|Bosque Real         |veracruz        |$5,691,840 |3      |3    |Null    |154 m²    |
|Tecamachalco        |veracruz        |$15,269,310|3      |4+   |Null    |Null      |
|Bosque Real         |veracruz        |$17,000,000|3      |3    |Null    |Null      |
|Lomas Lindas        |veracruz        |$1,550,000 |2      |2    |1       |Null      |
|Méx.                |veracruz        |$2,990,000 |3      |2    |Null    |150 m²    |
|Vista del Valle     |veracruz        |$8,750,000 |4      |4+   |3       |590 m²    |
|Llano Grande        |chihuahua       |$6,500,000 |3      |3    |2       |Null      |
|Toluca              |chihuahua       |$7,000,000 |4      |4+   |4+      |600 m²    |
|Los Reyes           |coahuila        |$6,587,000 |6+     |3    |3       |310 m²    |
|Bosque de las Palmas|coahuila        |$13,800,000|4      |4+   |3       |340 m²    |
|La Loma             |coahuila        |$839,700   |2      |1    |1       |60 m²     |
|Los Heroes Tecamac  |coahuila        |$618,915   |2      |1    |1       |57 m²     |
|San Carlos          |coahuila        |$10,900,000|3      |3    |2       |354 m²    |
|Tlaltepan           |coahuila        |$1,432,200 |3      |4+   |2       |95 m²     |
+--------------------+----------------+-----------+-------+-----+--------+----------+
only showing top 20 rows

In [16]:
regex = '([0-9])+'
df = df.withColumn("Cuartos", regexp_extract('Cuartos', regex, 0).cast('integer'))
df = df.withColumn("Baños", regexp_extract('Baños', regex, 0).cast('integer'))
df = df.withColumn("Cocheras", regexp_extract('Cocheras', regex, 0).cast('integer'))
df = df.withColumn("Area_total", regexp_extract('Area_total', regex, 0).cast('integer'))
df = df.withColumn('Estado', F.regexp_replace(F.col('Estado'), '-',' '))
df = df.withColumn('Precio', F.regexp_replace(F.col('Precio'), ',',''))
df = df.withColumn("Precio", regexp_extract('Precio', regex, 0).cast('integer'))
df.show()

+--------------------+----------------+--------+-------+-----+--------+----------+
|        Localizacion|          Estado|  Precio|Cuartos|Baños|Cocheras|Area_total|
+--------------------+----------------+--------+-------+-----+--------+----------+
|  Lomas Country Club|estado de mexico|21575842|      3|    3|    null|       501|
|        Llano Grande|estado de mexico|11800000|      3|    4|       4|       447|
|    Lomas de Tecamac|estado de mexico|  900100|      3|    2|       1|        60|
|   La Riviera I y II|estado de mexico| 2200000|      3|    2|       2|       160|
|                Méx.|        veracruz|  865900|      2|    1|       1|      null|
|           Ahuizotla|        veracruz| 1895600|      2|    1|       1|        66|
|         Bosque Real|        veracruz| 5691840|      3|    3|    null|       154|
|        Tecamachalco|        veracruz|15269310|      3|    4|    null|      null|
|         Bosque Real|        veracruz|17000000|      3|    3|    null|      null|
|        Lomas Lindas|        veracruz| 1550000|      2|    2|       1|      null|
|                Méx.|        veracruz| 2990000|      3|    2|    null|       150|
|     Vista del Valle|        veracruz| 8750000|      4|    4|       3|       590|
|        Llano Grande|       chihuahua| 6500000|      3|    3|       2|      null|
|              Toluca|       chihuahua| 7000000|      4|    4|       4|       600|
|           Los Reyes|        coahuila| 6587000|      6|    3|       3|       310|
|Bosque de las Palmas|        coahuila|13800000|      4|    4|       3|       340|
|             La Loma|        coahuila|  839700|      2|    1|       1|        60|
|  Los Heroes Tecamac|        coahuila|  618915|      2|    1|       1|        57|
|          San Carlos|        coahuila|10900000|      3|    3|       2|       354|
|           Tlaltepan|        coahuila| 1432200|      3|    4|       2|        95|
+--------------------+----------------+--------+-------+-----+--------+----------+
only showing top 20 rows

In [24]:
df2 = df.withColumn("Direccion", concat_ws(',',df.Localizacion, df.Estado ))
df2.show()

+--------------------+----------------+--------+-------+-----+--------+----------+--------------------+
|        Localizacion|          Estado|  Precio|Cuartos|Baños|Cocheras|Area_total|           Direccion|
+--------------------+----------------+--------+-------+-----+--------+----------+--------------------+
|  Lomas Country Club|estado de mexico|21575842|      3|    3|    null|       501|Lomas Country Clu...|
|        Llano Grande|estado de mexico|11800000|      3|    4|       4|       447|Llano Grande,esta...|
|    Lomas de Tecamac|estado de mexico|  900100|      3|    2|       1|        60|Lomas de Tecamac,...|
|   La Riviera I y II|estado de mexico| 2200000|      3|    2|       2|       160|La Riviera I y II...|
|                Méx.|        veracruz|  865900|      2|    1|       1|      null|       Méx.,veracruz|
|           Ahuizotla|        veracruz| 1895600|      2|    1|       1|        66|  Ahuizotla,veracruz|
|         Bosque Real|        veracruz| 5691840|      3|    3|    null|       154|Bosque Real,veracruz|
|        Tecamachalco|        veracruz|15269310|      3|    4|    null|      null|Tecamachalco,vera...|
|         Bosque Real|        veracruz|17000000|      3|    3|    null|      null|Bosque Real,veracruz|
|        Lomas Lindas|        veracruz| 1550000|      2|    2|       1|      null|Lomas Lindas,vera...|
|                Méx.|        veracruz| 2990000|      3|    2|    null|       150|       Méx.,veracruz|
|     Vista del Valle|        veracruz| 8750000|      4|    4|       3|       590|Vista del Valle,v...|
|        Llano Grande|       chihuahua| 6500000|      3|    3|       2|      null|Llano Grande,chih...|
|              Toluca|       chihuahua| 7000000|      4|    4|       4|       600|    Toluca,chihuahua|
|           Los Reyes|        coahuila| 6587000|      6|    3|       3|       310|  Los Reyes,coahuila|
|Bosque de las Palmas|        coahuila|13800000|      4|    4|       3|       340|Bosque de las Pal...|
|             La Loma|        coahuila|  839700|      2|    1|       1|        60|    La Loma,coahuila|
|  Los Heroes Tecamac|        coahuila|  618915|      2|    1|       1|        57|Los Heroes Tecama...|
|          San Carlos|        coahuila|10900000|      3|    3|       2|       354| San Carlos,coahuila|
|           Tlaltepan|        coahuila| 1432200|      3|    4|       2|        95|  Tlaltepan,coahuila|
+--------------------+----------------+--------+-------+-----+--------+----------+--------------------+
only showing top 20 rows

In [47]:
@udf(returnType=StringType()) 
def ext_longitud(direct):
    try:
        location = geolocator.geocode(direct)
        longitud = location.longitude
    except:
        print('Error')
        longitud = None
        
    return longitud

    
@udf(returnType=StringType()) 
def ext_latitud(direct):
    try:
        location = geolocator.geocode(direct)
        latitud = location.latitude
    except:
        print('Error')
        latitud = None
        
    return latitud

@udf(returnType=StringType()) 
def to_upper(s):
    if s is not None:
        return s.upper()

In [51]:
from pyspark.sql.types import IntegerType
slen = udf(lambda s: len(s), IntegerType())
@udf
def to_upper(s):
    if s is not None:
        return s.upper()

@udf(returnType=IntegerType())
def add_one(x):
    if x is not None:
        return x + 1

df = sqlContext.createDataFrame([(1, "John Doe", 21)], ("id", "name", "age"))
df.select(slen("name").alias("slen(name)"), to_upper("name"), add_one("age")).show()

Py4JJavaError: An error occurred while calling o284.showString.
: org.apache.spark.SparkException: Job aborted due to stage failure: Task 0 in stage 41.0 failed 1 times, most recent failure: Lost task 0.0 in stage 41.0 (TID 439) (DESKTOP-HMQM4DB executor driver): org.apache.spark.SparkException: Python worker failed to connect back.
	at org.apache.spark.api.python.PythonWorkerFactory.createSimpleWorker(PythonWorkerFactory.scala:182)
	at org.apache.spark.api.python.PythonWorkerFactory.create(PythonWorkerFactory.scala:107)
	at org.apache.spark.SparkEnv.createPythonWorker(SparkEnv.scala:119)
	at org.apache.spark.api.python.BasePythonRunner.compute(PythonRunner.scala:145)
	at org.apache.spark.api.python.PythonRDD.compute(PythonRDD.scala:65)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:373)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:337)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:373)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:337)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:373)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:337)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:373)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:337)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:373)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:337)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:373)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:337)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:373)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:337)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:373)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:337)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:373)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:337)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:90)
	at org.apache.spark.scheduler.Task.run(Task.scala:131)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$3(Executor.scala:497)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:1439)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:500)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1149)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:624)
	at java.lang.Thread.run(Thread.java:748)
Caused by: java.net.SocketTimeoutException: Accept timed out
	at java.net.DualStackPlainSocketImpl.waitForNewConnection(Native Method)
	at java.net.DualStackPlainSocketImpl.socketAccept(DualStackPlainSocketImpl.java:135)
	at java.net.AbstractPlainSocketImpl.accept(AbstractPlainSocketImpl.java:409)
	at java.net.PlainSocketImpl.accept(PlainSocketImpl.java:199)
	at java.net.ServerSocket.implAccept(ServerSocket.java:560)
	at java.net.ServerSocket.accept(ServerSocket.java:528)
	at org.apache.spark.api.python.PythonWorkerFactory.createSimpleWorker(PythonWorkerFactory.scala:174)
	... 38 more

Driver stacktrace:
	at org.apache.spark.scheduler.DAGScheduler.failJobAndIndependentStages(DAGScheduler.scala:2258)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$abortStage$2(DAGScheduler.scala:2207)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$abortStage$2$adapted(DAGScheduler.scala:2206)
	at scala.collection.mutable.ResizableArray.foreach(ResizableArray.scala:62)
	at scala.collection.mutable.ResizableArray.foreach$(ResizableArray.scala:55)
	at scala.collection.mutable.ArrayBuffer.foreach(ArrayBuffer.scala:49)
	at org.apache.spark.scheduler.DAGScheduler.abortStage(DAGScheduler.scala:2206)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$handleTaskSetFailed$1(DAGScheduler.scala:1079)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$handleTaskSetFailed$1$adapted(DAGScheduler.scala:1079)
	at scala.Option.foreach(Option.scala:407)
	at org.apache.spark.scheduler.DAGScheduler.handleTaskSetFailed(DAGScheduler.scala:1079)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.doOnReceive(DAGScheduler.scala:2445)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:2387)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:2376)
	at org.apache.spark.util.EventLoop$$anon$1.run(EventLoop.scala:49)
	at org.apache.spark.scheduler.DAGScheduler.runJob(DAGScheduler.scala:868)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2196)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2217)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2236)
	at org.apache.spark.sql.execution.SparkPlan.executeTake(SparkPlan.scala:472)
	at org.apache.spark.sql.execution.SparkPlan.executeTake(SparkPlan.scala:425)
	at org.apache.spark.sql.execution.CollectLimitExec.executeCollect(limit.scala:47)
	at org.apache.spark.sql.Dataset.collectFromPlan(Dataset.scala:3696)
	at org.apache.spark.sql.Dataset.$anonfun$head$1(Dataset.scala:2722)
	at org.apache.spark.sql.Dataset.$anonfun$withAction$1(Dataset.scala:3687)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId$5(SQLExecution.scala:103)
	at org.apache.spark.sql.execution.SQLExecution$.withSQLConfPropagated(SQLExecution.scala:163)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId$1(SQLExecution.scala:90)
	at org.apache.spark.sql.SparkSession.withActive(SparkSession.scala:775)
	at org.apache.spark.sql.execution.SQLExecution$.withNewExecutionId(SQLExecution.scala:64)
	at org.apache.spark.sql.Dataset.withAction(Dataset.scala:3685)
	at org.apache.spark.sql.Dataset.head(Dataset.scala:2722)
	at org.apache.spark.sql.Dataset.take(Dataset.scala:2929)
	at org.apache.spark.sql.Dataset.getRows(Dataset.scala:301)
	at org.apache.spark.sql.Dataset.showString(Dataset.scala:338)
	at sun.reflect.GeneratedMethodAccessor72.invoke(Unknown Source)
	at sun.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.lang.reflect.Method.invoke(Method.java:498)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:357)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.GatewayConnection.run(GatewayConnection.java:238)
	at java.lang.Thread.run(Thread.java:748)
Caused by: org.apache.spark.SparkException: Python worker failed to connect back.
	at org.apache.spark.api.python.PythonWorkerFactory.createSimpleWorker(PythonWorkerFactory.scala:182)
	at org.apache.spark.api.python.PythonWorkerFactory.create(PythonWorkerFactory.scala:107)
	at org.apache.spark.SparkEnv.createPythonWorker(SparkEnv.scala:119)
	at org.apache.spark.api.python.BasePythonRunner.compute(PythonRunner.scala:145)
	at org.apache.spark.api.python.PythonRDD.compute(PythonRDD.scala:65)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:373)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:337)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:373)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:337)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:373)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:337)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:373)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:337)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:373)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:337)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:373)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:337)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:373)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:337)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:373)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:337)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:373)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:337)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:90)
	at org.apache.spark.scheduler.Task.run(Task.scala:131)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$3(Executor.scala:497)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:1439)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:500)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1149)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:624)
	... 1 more
Caused by: java.net.SocketTimeoutException: Accept timed out
	at java.net.DualStackPlainSocketImpl.waitForNewConnection(Native Method)
	at java.net.DualStackPlainSocketImpl.socketAccept(DualStackPlainSocketImpl.java:135)
	at java.net.AbstractPlainSocketImpl.accept(AbstractPlainSocketImpl.java:409)
	at java.net.PlainSocketImpl.accept(PlainSocketImpl.java:199)
	at java.net.ServerSocket.implAccept(ServerSocket.java:560)
	at java.net.ServerSocket.accept(ServerSocket.java:528)
	at org.apache.spark.api.python.PythonWorkerFactory.createSimpleWorker(PythonWorkerFactory.scala:174)
	... 38 more

In [48]:
df3 = df2.withColumn("longitud", to_upper(col("Direccion")))

In [50]:
df2.select( to_upper("Direccion")).show()

Py4JJavaError: An error occurred while calling o233.showString.
: org.apache.spark.SparkException: Job aborted due to stage failure: Task 0 in stage 40.0 failed 1 times, most recent failure: Lost task 0.0 in stage 40.0 (TID 438) (DESKTOP-HMQM4DB executor driver): org.apache.spark.SparkException: Python worker failed to connect back.
	at org.apache.spark.api.python.PythonWorkerFactory.createSimpleWorker(PythonWorkerFactory.scala:182)
	at org.apache.spark.api.python.PythonWorkerFactory.create(PythonWorkerFactory.scala:107)
	at org.apache.spark.SparkEnv.createPythonWorker(SparkEnv.scala:119)
	at org.apache.spark.api.python.BasePythonRunner.compute(PythonRunner.scala:145)
	at org.apache.spark.sql.execution.python.BatchEvalPythonExec.evaluate(BatchEvalPythonExec.scala:81)
	at org.apache.spark.sql.execution.python.EvalPythonExec.$anonfun$doExecute$2(EvalPythonExec.scala:130)
	at org.apache.spark.rdd.RDD.$anonfun$mapPartitions$2(RDD.scala:863)
	at org.apache.spark.rdd.RDD.$anonfun$mapPartitions$2$adapted(RDD.scala:863)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:373)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:337)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:373)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:337)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:373)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:337)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:90)
	at org.apache.spark.scheduler.Task.run(Task.scala:131)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$3(Executor.scala:497)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:1439)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:500)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1149)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:624)
	at java.lang.Thread.run(Thread.java:748)
Caused by: java.net.SocketTimeoutException: Accept timed out
	at java.net.DualStackPlainSocketImpl.waitForNewConnection(Native Method)
	at java.net.DualStackPlainSocketImpl.socketAccept(DualStackPlainSocketImpl.java:135)
	at java.net.AbstractPlainSocketImpl.accept(AbstractPlainSocketImpl.java:409)
	at java.net.PlainSocketImpl.accept(PlainSocketImpl.java:199)
	at java.net.ServerSocket.implAccept(ServerSocket.java:560)
	at java.net.ServerSocket.accept(ServerSocket.java:528)
	at org.apache.spark.api.python.PythonWorkerFactory.createSimpleWorker(PythonWorkerFactory.scala:174)
	... 24 more

Driver stacktrace:
	at org.apache.spark.scheduler.DAGScheduler.failJobAndIndependentStages(DAGScheduler.scala:2258)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$abortStage$2(DAGScheduler.scala:2207)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$abortStage$2$adapted(DAGScheduler.scala:2206)
	at scala.collection.mutable.ResizableArray.foreach(ResizableArray.scala:62)
	at scala.collection.mutable.ResizableArray.foreach$(ResizableArray.scala:55)
	at scala.collection.mutable.ArrayBuffer.foreach(ArrayBuffer.scala:49)
	at org.apache.spark.scheduler.DAGScheduler.abortStage(DAGScheduler.scala:2206)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$handleTaskSetFailed$1(DAGScheduler.scala:1079)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$handleTaskSetFailed$1$adapted(DAGScheduler.scala:1079)
	at scala.Option.foreach(Option.scala:407)
	at org.apache.spark.scheduler.DAGScheduler.handleTaskSetFailed(DAGScheduler.scala:1079)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.doOnReceive(DAGScheduler.scala:2445)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:2387)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:2376)
	at org.apache.spark.util.EventLoop$$anon$1.run(EventLoop.scala:49)
	at org.apache.spark.scheduler.DAGScheduler.runJob(DAGScheduler.scala:868)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2196)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2217)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2236)
	at org.apache.spark.sql.execution.SparkPlan.executeTake(SparkPlan.scala:472)
	at org.apache.spark.sql.execution.SparkPlan.executeTake(SparkPlan.scala:425)
	at org.apache.spark.sql.execution.CollectLimitExec.executeCollect(limit.scala:47)
	at org.apache.spark.sql.Dataset.collectFromPlan(Dataset.scala:3696)
	at org.apache.spark.sql.Dataset.$anonfun$head$1(Dataset.scala:2722)
	at org.apache.spark.sql.Dataset.$anonfun$withAction$1(Dataset.scala:3687)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId$5(SQLExecution.scala:103)
	at org.apache.spark.sql.execution.SQLExecution$.withSQLConfPropagated(SQLExecution.scala:163)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId$1(SQLExecution.scala:90)
	at org.apache.spark.sql.SparkSession.withActive(SparkSession.scala:775)
	at org.apache.spark.sql.execution.SQLExecution$.withNewExecutionId(SQLExecution.scala:64)
	at org.apache.spark.sql.Dataset.withAction(Dataset.scala:3685)
	at org.apache.spark.sql.Dataset.head(Dataset.scala:2722)
	at org.apache.spark.sql.Dataset.take(Dataset.scala:2929)
	at org.apache.spark.sql.Dataset.getRows(Dataset.scala:301)
	at org.apache.spark.sql.Dataset.showString(Dataset.scala:338)
	at sun.reflect.GeneratedMethodAccessor72.invoke(Unknown Source)
	at sun.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.lang.reflect.Method.invoke(Method.java:498)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:357)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.GatewayConnection.run(GatewayConnection.java:238)
	at java.lang.Thread.run(Thread.java:748)
Caused by: org.apache.spark.SparkException: Python worker failed to connect back.
	at org.apache.spark.api.python.PythonWorkerFactory.createSimpleWorker(PythonWorkerFactory.scala:182)
	at org.apache.spark.api.python.PythonWorkerFactory.create(PythonWorkerFactory.scala:107)
	at org.apache.spark.SparkEnv.createPythonWorker(SparkEnv.scala:119)
	at org.apache.spark.api.python.BasePythonRunner.compute(PythonRunner.scala:145)
	at org.apache.spark.sql.execution.python.BatchEvalPythonExec.evaluate(BatchEvalPythonExec.scala:81)
	at org.apache.spark.sql.execution.python.EvalPythonExec.$anonfun$doExecute$2(EvalPythonExec.scala:130)
	at org.apache.spark.rdd.RDD.$anonfun$mapPartitions$2(RDD.scala:863)
	at org.apache.spark.rdd.RDD.$anonfun$mapPartitions$2$adapted(RDD.scala:863)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:373)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:337)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:373)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:337)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:373)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:337)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:90)
	at org.apache.spark.scheduler.Task.run(Task.scala:131)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$3(Executor.scala:497)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:1439)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:500)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1149)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:624)
	... 1 more
Caused by: java.net.SocketTimeoutException: Accept timed out
	at java.net.DualStackPlainSocketImpl.waitForNewConnection(Native Method)
	at java.net.DualStackPlainSocketImpl.socketAccept(DualStackPlainSocketImpl.java:135)
	at java.net.AbstractPlainSocketImpl.accept(AbstractPlainSocketImpl.java:409)
	at java.net.PlainSocketImpl.accept(PlainSocketImpl.java:199)
	at java.net.ServerSocket.implAccept(ServerSocket.java:560)
	at java.net.ServerSocket.accept(ServerSocket.java:528)
	at org.apache.spark.api.python.PythonWorkerFactory.createSimpleWorker(PythonWorkerFactory.scala:174)
	... 24 more

In [146]:
pandasDF = df.toPandas()
pandasDF.to_csv('real_state_spark.csv', index= False)

In [26]:
import pandas as pd
from geopy.geocoders import Nominatim

geolocator = Nominatim(user_agent="MyApp")

@udf(returnType=StringType()) 
def coordenates(direct, coord):
    from geopy.geocoders import Nominatim
    geolocator = Nominatim(user_agent="MyApp")
    try:
        location = geolocator.geocode(direct)
        latitud = location.latitude
        longitud = location.longitude
    except:
        print('Error')
        latitud = None
        longitud = None
        
    if coord == 'longitud':
        return longitud
    
    if coord == 'latitud':
        return latitud


longitud = coordenates("Lomas Country Club,estado de mexico", 'longitud')
latitud = coordenates("Lomas Country Club,estado de mexico", 'latitud')
print(longitud, latitud)

Column<'coordenates(Lomas Country Club,estado de mexico, longitud)'> Column<'coordenates(Lomas Country Club,estado de mexico, latitud)'>

In [22]:
ext_longitud = udf(lambda z: coordenates(z,'longitud'))
ext_latitud = udf(lambda z: coordenates(z,'latitud'))

In [8]:
# Initialize Nominatim API
geolocator = Nominatim(user_agent="MyApp")

location = geolocator.geocode("Lomas Country Club,estado de mexico")

print("The latitude of the location is: ", location.latitude)
print("The longitude of the location is: ", location.longitude)

The latitude of the location is:  19.40654045
The longitude of the location is:  -99.28912791917948

In [97]:
Estado = ['Hi' for i in range(len(result_reg))]
len(Estado)

23